@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
  --app-primary: #c27f79;
  --app-secondary: #ffd8b1;
  --app-dark: #212121;
  --app-light: #f5f5f5;
  --box-shadows: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body,
html,
#root,
.main-grid-container {
  height: 100%;
}

.main-grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app-footer,
.app-header {
  position: relative;
  box-shadow: var(--box-shadows);
  padding: 1rem;
}

.app-header {
  background-color: var(--app-primary);
}

.app-footer {
  background-color: var(--app-secondary);
}

.text-white {
  color: var(--app-light);
  margin: 0;
}

.hero-section {
  background-color: var(--app-primary);
  height: 50vh;
  padding: 100px 150px;
}

.btn {
  display: block;
  width: 150px;
  background-color: var(--app-secondary);
  border: 2px solid var(--app-secondary);
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--box-shadows);
  text-transform: uppercase;
  cursor: pointer;
}
